@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
} */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* import Jakarta Sans font */
@font-face {
  font-family: "Jakarta Sans";
  src: url("../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff"), url("../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Regular.ttf"), url("../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff2");
  font-weight: normal;
}
/* import Jakarta Sans font in bold */
@font-face {
  font-family: "Jakarta Sans";
  src: url("../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff"), url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff2), url(../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Bold.ttf);
  font-weight: bold;
}
/* import Young Serif font */
@font-face {
  font-family: "Young Serif";
  src: url("../fonts/youngserif/YoungSerif-Regular.otf");
}
html {
  font-size: 125%;
}

body {
  font-family: "Jakarta Sans";
  font-size: 1rem;
  color: #084b6d;
}

h1,
h2,
h3,
h4,
blockquote {
  font-family: "Young Serif";
  font-weight: normal;
  color: #084b6d;
  margin: 0;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 18px;
}

h3 {
  font-size: 2.7rem;
  line-height: 3rem;
  margin-bottom: 24px;
}

h4 {
  font-size: 1.7rem;
  line-height: 2rem;
  margin-bottom: 18px;
}

h5 {
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0 0 24px 0;
}

p {
  line-height: 1.5rem;
  margin: 0 0 30px 0;
}
p.smallCopy {
  font-size: 0.6rem;
  line-height: 1.2rem;
  font-weight: bold;
  margin: 0;
}
p.popularProduct {
  font-weight: bold;
  margin-bottom: 10px;
}
p.price {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: rgba(8, 75, 109, 0.75);
  display: inline;
  padding: 0 5px;
  margin: 0;
}
p.discountedPrice {
  font-size: 0.8rem;
  color: rgba(8, 75, 109, 0.4);
  text-decoration: line-through;
  display: inline;
  padding: 0 5px;
  margin: 0;
}
p.newsletterCopy {
  font-size: 0.8rem;
}

ul,
li,
a,
input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

button {
  color: #084b6d;
  background-color: transparent;
  padding: 18px 36px;
  border: 2px solid #084b6d;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover {
  background-color: #084b6d;
  color: #fff;
}
button:focus {
  background-color: #084b6d;
  color: #fff;
}
button.secondary {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  padding: 8px 12px;
}
button.secondary:hover {
  background-color: #fff;
  color: #084b6d;
}
button.secondary:focus {
  background-color: #fff;
  color: #084b6d;
}
button.solid {
  color: #fff;
  background-color: #084b6d;
}
button.solid:hover {
  color: #084b6d;
  background-color: #fff;
}
button.menuIcon {
  display: inherit;
  padding: 0;
  border: none;
}
button.menuIcon:hover {
  background-color: transparent;
}
button.menuIcon:focus {
  background-color: transparent;
}

.announcements {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid rgba(250, 117, 9, 0.08);
}

.navBar {
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid rgba(8, 75, 109, 0.08);
  background-color: #fff;
}
.navBar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.navBar .searchCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navBar .searchCart .searchIcon,
.navBar .searchCart .bag {
  margin-right: 15px;
}
.navBar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navBar a img {
  width: 24px;
  height: 24px;
}
.navBar .logo {
  margin-left: 60px;
}
.navBar .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navBar .counter p {
  width: 24px;
  height: 24px;
  background-color: #084b6d;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}
.navBar input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
.navBar input[type=checkbox]:checked ~ .slideOutNav {
  left: 0;
}
.navBar input[type=checkbox]:focus + label {
  border: 1px dotted #084b6d;
}
.navBar label {
  cursor: pointer;
}

.slideOutNav {
  padding: 35px 50px;
  border-right: 1px solid #f4fcff;
  width: 100%;
  max-width: 506px;
  height: 100vh;
  background-color: #084b6d;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: -506px;
  z-index: 20;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.slideOutNav .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.slideOutNav .buttonContainer button {
  font-size: 1.2rem;
  font-weight: normal;
  font-family: "Jakarta Sans";
  color: #fff;
  background-color: transparent;
  padding: 10px 0 10px 20px;
}
.slideOutNav hr {
  width: 24px;
  height: 2px;
  margin: 36px 0;
  background-color: #fff;
}
.slideOutNav .mainMenu a {
  font-family: "Young Serif";
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: white;
}
.slideOutNav .mainMenu a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.slideOutNav .mainMenu a:focus {
  color: rgba(255, 255, 255, 0.5);
}
.slideOutNav .legal a {
  font-family: "Jakarta Sans";
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}
.slideOutNav .legal a:hover {
  color: white;
}
.slideOutNav .legal a:focus {
  color: white;
}

header {
  background-color: #f8fbf3;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .headerImgContainer {
  width: 45%;
}
header .headerImgContainer img {
  max-width: 100%;
  vertical-align: middle;
}
header .headerContent {
  width: 55%;
  color: #084b6d;
}
header .headerContent .contentContainer {
  margin: 0 auto;
  width: 65%;
}

footer {
  background-color: #084b6d;
  color: #fff;
  padding: 90px 0 50px 0;
}
footer .footerFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px;
}
footer .footerFlexContainer h4 {
  color: #fff;
}
footer .newsletter {
  margin-right: 50px;
  width: calc(40% - 50px);
}
footer .newsletter form {
  position: relative;
}
footer .newsletter input {
  color: #fff;
  border-radius: 0;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  height: 60px;
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding: 18px 20px;
  margin-bottom: 20px;
  width: 100%;
}
footer .newsletter input:focus {
  border: 2px solid white;
}
footer .newsletter .secondary {
  position: absolute;
  top: 8px;
  right: 8px;
}
footer .footerNav {
  width: 40%;
}
footer .footerNav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footerNav nav ul {
  width: 33%;
}
footer .footerNav nav a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  line-height: 1.5rem;
}
footer .footerNav nav a:hover {
  color: white;
}
footer .footerNav nav a:focus {
  color: white;
}
footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .social i {
  font-size: 1.2rem;
  margin: 0 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}
footer .social i:hover {
  color: #ffd698;
}

main section {
  margin-bottom: 90px;
}

.titleBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.productImgContainer {
  width: 30%;
  text-align: center;
}
.productImgContainer img {
  border-radius: 5%;
  margin: 24px;
  width: calc(100% - 48px);
}

.play {
  background-image: url(../assets/background-image.jpg);
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.play .playContainer {
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 45px;
  border: 24px solid #f4fcff;
  background-color: #fff;
}

.categoryGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  width: 100%;
}
.categoryGallery .items {
  padding: 45px;
  margin: 50px 25px 25px;
  border-radius: 10%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.categoryGallery .items:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.categoryGallery .items:focus {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.categoryGallery .items img {
  width: 100%;
  border-radius: 10%;
  margin: 0 auto 20px auto;
}
.categoryGallery .itemOne {
  background-color: #ffd698;
}
.categoryGallery .itemTwo {
  background-color: #f4fcff;
}
.categoryGallery .itemThree {
  background-color: #f8fbf3;
}
.categoryGallery .itemFour {
  background-color: #fff5f5;
}

.gallery {
  background-color: #f8fbf3;
  padding: 90px 0;
  margin: 0;
}
.gallery h2 {
  max-width: 500px;
}

.galleryItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.galleryItems .item {
  width: 15%;
}
.galleryItems .item img {
  width: 100%;
  display: block;
}

@media (max-width: 1000px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
}
@media (max-width: 800px) {
  /* all of our styles for TABLET devices will go within this breakpoint */
}
@media (max-width: 500px) {
  /* all of our styles for MOBILE devices will go within this breakpoint */
}